@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* 
56px = 47px
61px = 51px
32px = 27px
30px = 25px
20px = 17px
500 = 425
600 = 510
700 = 595

Color Code
Orange = #FEA301
Sky-blue = #01ACFD
Black = #111
Paragraph = #808080 
.facilities = #05D4DF
.admission = #5D58EF

*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   max-width: 1160px;
   margin: 0 auto;
}

.font-quicksand {
   font-family: "Quicksand", sans-serif;
}

.font-raleway {
   font-family: "Raleway", sans-serif;
}

/************* Shared Style *************/
.btn {
   width: 177px;
   font-family: "Quicksand", sans-serif;
   font-size: 17px;
   line-height: 25px;
   border-radius: 12px;
   border: none;
   padding: 10px;
   cursor: pointer;
   transition: 0.4s;
}

/************* Navbar style *************/
.logo {
   color: #111;
   text-decoration: none;
   font-size: 27px;
   font-weight: 700;
   display: flex;
   align-items: center;
}

.logo img {
   width: 52px;
   height: 52px;
   margin-right: 11px;
}

.mobile-navbar {
   display: none;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 17px 0;
}

nav ul li {
   list-style: none;
   display: inline;
   margin-right: 27px;
}

nav ul li a {
   font-size: 17px;
   font-family: "Quicksand", sans-serif;
   text-decoration: none;
   font-weight: 600;
   line-height: 25px;
}

ul li .home {
   color: #fea301;
}

ul li .about {
   color: #01acfd;
}

ul li .facilities {
   color: #05d4df;
}

ul li .admission {
   color: #5d58ef;
}

.nav-btn {
   font-size: 17px;
   font-weight: 500;
   line-height: 25px;
   background: #fea301;
}

.nav-btn:hover {
   background: #e99504;
}

/************* Marquee Area *************/
.marquee-area {
   color: #77abf8d8;
   font-size: 17px;
   font-style: italic;
   padding: 10px 0;
   border-left: none;
   border-right: none;
   background-color: #f7f7f763;
}

/************* Banner Section *************/
.hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 42px;
   padding-top: 22px;
}

.hero-content h1 {
   color: #111;
   font-size: 47px;
   font-weight: 600;
   line-height: 51px;
   width: 73%;
}

.hero-content p {
   color: #111;
   font-size: 17px;
   font-weight: 400;
   margin: 20px 0;
   width: 85%;
}

.empowering {
   color: #fea301;
}

.vision {
   color: #01acfd;
}

.hero-btn button {
   color: white;
   font-weight: 600;
   background-color: #111;
}

.hero-btn button:hover {
   background-color: #424242;
}

/************* Standard Curriculum Section *************/
.curriculum-bg {
   background: url("../assets/bg.png") no-repeat center top;
}

.custom-bg {
   background-color: #f7f7f7;
}

.custom-padding {
   padding: 51px 0;
}

.standard-section {
   padding: 68px 0;
}

.section-title {
   color: #000;
   text-align: center;
   font-size: 39px;
   font-weight: 600;
   line-height: 48px;
}

.standard-curriculum {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 24px;
}

.curriculum-box {
   text-align: center;
   border-radius: 18.864px;
   box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
   padding: 40px 34px;
}

.cardOne {
   border: 0.943px solid #def5ff;
   background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
}

.cardTwo {
   border: 0.943px solid #f8eed9;
   background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
}

.cardThree {
   border: 0.943px solid #f2e8ff;
   background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
}

.curriculum-box img {
   width: 116px;
   height: 116px;
}

.curriculum-box h2 {
   color: #202020;
   font-size: 20px;
   font-weight: 700;
   line-height: 25px;
   margin-top: 27px;
}

.curriculum-box p {
   color: #808080;
   font-size: 15px;
   font-weight: 500;
   line-height: 23px;
   margin: 27px 0;
}

.curriculum-box a {
   font-size: 15px;
   font-weight: 700;
   line-height: 23px;
   text-decoration: none;
}

.btnOne {
   color: #64c8ff;
}

.btnTwo {
   color: #f0aa00;
}

.btnThree {
   color: #8700ff;
}

.curriculum-box a:hover {
   text-decoration: underline;
}

.arrow-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.arrow {
   width: 51px;
   height: 51px;
   background-color: #fea301;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.4s;
}

.arrow i {
   color: #fff;
   font-size: 20px;
   font-weight: 900;
}

.arrow:hover {
   background-color: #dd8d03;
}

/************* Our Stories Section  *************/
.stories {
   padding: 51px 0;
   background: linear-gradient(0deg, #fea3014d 0%, #f9f8f6 100%);
}

.stories-bg1 {
   background: url("../assets/bg.png") no-repeat center top;
}

.stories-bg2 {
   background: url("../assets/bg.png") no-repeat left 650px;
}

.stories-container {
   display: flex;
   justify-content: space-between;
   gap: 16px;
   padding: 68px 0;
}

.featured-one {
   width: 50%;
   background-color: #fff;
   border-radius: 16px;
}

.img-card img {
   width: 100%;
   height: 335px;
   position: relative;
   border-radius: 16px 16px 0px 0px;
}

.date {
   color: #fff;
   font-size: 12px;
   font-weight: 500;
   line-height: 23px;
   text-transform: capitalize;
   border-radius: 47.934px;
   width: fit-content;
   padding: 5px 13px;
   margin: -20px 0 0 32px;
   z-index: 999;
}

.date-bg1 {
   background: #3cd8e8;
}

.date-bg2 {
   background: #95b226;
}

.date-bg3 {
   background: #5d58f0;
}

.date-bg4 {
   background: #77abf8;
}

.date-bg5 {
   background: #fea301;
}

.img-card .date {
   position: absolute;
}

.card-details {
   margin: 30px 0 30px 30px;
}

.card-details h3 {
   color: #000;
   font-size: 20px;
   font-weight: 700;
   line-height: 32px;
   width: 75%;
   margin: 51px 0 43px 0;
}

.card-details p {
   color: #666;
   font-size: 15px;
   font-weight: 500;
   line-height: 23px;
   width: 80%;
}

/* Featured-two */
.featured-two {
   width: 50%;
}

.featured-container {
   display: flex;
   justify-content: space-between;
   gap: 16px;
}

.sectionTwo {
   margin-top: 16px;
}

.sub-featured-one {
   width: 100%;
   background-color: #fff;
   border-radius: 16px;
}

.sub-featured-one .img-card img {
   height: 183px;
}

.sub-featured-one h3 {
   color: #000;
   font-size: 15px;
   font-weight: 700;
   line-height: 23px;
   margin: 36px 0 28px 36px;
   width: 80%;
}

.view-btn {
   display: flex;
   justify-content: center;
}

.mobile-featured-card {
   display: none;
}

/************* Footer Section *************/
.footer-kids {
   color: #fff;
   background-color: #01acfd;
   padding: 105px 0 148px;
}

.footer-content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.foot-logo {
   display: flex;
   align-items: center;
}

.foot-logo img {
   width: 68px;
   height: 68px;
   margin-right: 8px;
}

.foot-logo h2 {
   font-size: 35px;
   font-weight: 600;
   line-height: 33px;
}

.foot-kids p {
   font-size: 17px;
   line-height: 21px;
   margin-top: 30px;
}

.about-school {
   display: flex;
   justify-content: center;
}

.about-school h3 {
   margin-bottom: 27px;
}

.about-school ul li {
   list-style: none;
   margin-bottom: 17px;
}

.about-school ul li a {
   color: #fff;
   text-decoration: none;
}

.about-school ul li a:hover {
   text-decoration: underline;
}

.social-media h3 {
   margin-bottom: 27px;
}

.social-media a {
   width: 34px;
   height: 34px;
   color: #fff;
   border-radius: 4px;
   padding: 9px 11px;
   font-size: 17px;
   margin-right: 9px;
}

.social-media a:nth-last-child(1) {
   padding: 9px;
}

.social-media .facebook {
   background-color: #3b5998;
   transition: 0.2s;
}

.social-media .facebook:hover i {
   transform: scale(1.2);
   transition: 0.2s;
}

.social-media .dribbble {
   background-color: #ea4c89;
}

.social-media .dribbble:hover i {
   transform: scale(1.2);
   transition: 0.2s;
}

.social-media .twitter {
   background-color: #1da1f2;
}

.social-media .twitter:hover i {
   transform: scale(1.2);
   transition: 0.2s;
}

.social-media .google-plus {
   background-color: #dd4b39;
}

.social-media .google-plus:hover i {
   transform: scale(1.2);
   transition: 0.2s;
}

/************* Media Query *************/
@media screen and (max-width: 576px) {
   /************* Mobile navbar style *************/
   section {
      padding: 0 13px;
   }

   .desktop-navbar {
      display: none;
   }

   .mobile-navbar {
      display: block;
      padding: 10px 13px 0;
      border-bottom: 0.5px solid #fea301;
   }

   .sm-logo img {
      width: 40px;
      height: 40px;
   }

   .mobile-navbar > nav .menu-icon {
      font-size: 23px;
   }

   /************* Banner Section *************/
   .hero {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 0;
   }

   .hero-image {
      display: flex;
      justify-content: center;
   }

   .hero-image img {
      width: 100%;
   }

   .hero-content h1 {
      width: 80%;
      font-size: 32px;
      text-align: center;
      margin: 0 auto;
      line-height: normal;
      margin-top: 20px;
   }

   .hero-content p {
      width: 100%;
      text-align: center;
   }

   .hero-btn {
      display: flex;
      justify-content: center;
   }

   /************* Standard Curriculum Section *************/
   .curriculum-bg-patten {
      background: url("../assets/bg.png") no-repeat left top;
      padding: 15px 13px 0px;
   }

   .section-title {
      font-size: 26px;
   }

   .standard-section {
      padding: 20px 0;
   }

   .standard-curriculum {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
   }

   .arrow-icons {
      display: none;
   }

   /************* Our Stories Section *************/
   .stories-bg1 {
      background: url("../assets/bg.png") no-repeat center top;
   }

   .stories-bg2 {
      background: none;
   }

   .stories {
      padding: 0 0 51px;
   }

   .stories-container {
      gap: 13px;
      padding: 30px 0 40px;
   }

   .featured-one {
      display: none;
   }

   .featured-two {
      width: 100%;
      padding: 0 13px;
   }

   .featured-container {
      gap: 13px;
   }

   .sectionTwo {
      margin-top: 13px;
   }

   .sub-featured-one h3 {
      font-size: 10px;
      line-height: 17px;
      width: 70%;
      margin: 25px 0 22px 25px;
   }

   .date {
      padding: 3px 10px;
      margin: -20px 0 0 22px;
   }

    .sub-featured-one{
      width: 100%;
   }

   .sub-featured-one .img-card img {
      width: 100%;
      height: 125px;
   }

   .btn {
      padding: 7px 10px;
   }

   .mobile-featured-card {
      display: block;
   }

   /************* Footer Section *************/
   .footer-kids {
      padding: 55px 13px 65px;
   }

   .footer-content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .about-school {
      display: flex;
      justify-content: start;
      margin: 27px 0;
   }
}
